[Unit]
Description=JupyterHub
After=docker.service
Requires=docker.service

[Service]
User=root
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker build /etc/jupyterhub/image --tag jupyterhub-dgx
ExecStart=/usr/bin/docker run --rm --network host --name %n -v /etc:/etc:ro -v /usr/local/bin/sdiag:/usr/local/bin/sdiag -v /usr/local/bin/sinfo:/usr/local/bin/sinfo -v /usr/local/bin/squeue:/usr/local/bin/squeue -v /etc/slurm:/etc/slurm:ro -v /usr/local/lib/slurm:/usr/local/lib/slurm:ro -v /etc/hosts:/etc/hosts:ro -v /var/run/munge:/var/run/munge:ro jupyterhub-dgx

[Install]
WantedBy=multi-user.target
